<!-- Modal Start -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Credit Card</h4>
      </div>
      <div class="modal-body">
          <div class="ui two column stackable grid">
            <div class="middle aligned row">
              <div class="column">
                <form action="/user/addPayment" method="POST" class="ui warning fluid form segment" id="card-form">
                  <div class="ui error message"></div>
                  <% if(flash && flash.err) { %>
                  <div class="ui warning message">
                    <% Object.keys(flash.err).forEach(function(error) { %>
                    <div class="header"><%- JSON.stringify(flash.err[error]['name']) %></div>
                    <ul class="list">
                      <li><%- JSON.stringify(flash.err[error]['message']) %></li>
                    </ul>
                    <% }) %>
                  </div>
                  <% } %>

                  <p class="warning-border">We store your credit card information locally to make the order process as quick and easy as possible.</p>

                  <div class="field">
                    <label>Card Number</label>
                    <input placeholder="1234 5678 1234 5678" name="number" type="text">
                  </div>
                  <div class="field">
                    <label>Name On Card</label>
                    <input placeholder="David Cangialosi" name="name" type="text">
                  </div>
                  <div class="two fields">
                    <div class="field">
                      <label>Expiration Date</label>
                      <input placeholder="06/2016" name="expiry" type="text">
                    </div>
                    <div class="field">
                      <label>CVC Code</label>
                      <input placeholder="123" name="cvc" type="text">
                    </div>
                  </div>
                  <input type="submit" class="ui teal submit button" value="Continue">
                  <input type="hidden" name="_csrf" value="<%= _csrf %>">

                </form>
              </div>
              <div class="card-wrapper column">
                <!-- card.js fills this in with credit card animation -->
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <a class="ui button" data-dismiss="modal">Close Without Saving</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->



<!-- Step Start -->
<div id="step-section" style="border-bottom: 7px solid #352504;">
  <div style="height: 55px;"></div>
  <div class="container">
   <div class="removable ui five medium steps" style="margin-top: 46px; margin-bottom: 35px;">
    <div class="ui disabled step">
      <i class="ui large icon check" style="color:#5BBD72; margin-top:-10px;"></i>
      Start My Order
    </div>
    <div class="ui disabled step">
      <% if(session.delivery) { %> <i class="ui large icon check" style="color:#5BBD72; margin-top:-10px;"></i> <% } %>
      <a style="text-decoration: none; color: #ccc" href="/catering/order/delivery">Delivery</a>
    </div>
    <div class="ui disabled step">
      <% if(session.foodComplete) { %> <i class="ui large icon check" style="color:#5BBD72; margin-top:-10px;"></i> <% } %>
      <a style="text-decoration: none; color: #ccc" href="/catering/order/menu">Food</a>
    </div>
    <div class="ui active step">
      <% if(session.paymentMethod && ((session.paymentMethod == 'Credit' && session.card) || (session.paymentMethod != 'Credit'))) { %> <i class="ui large icon check" style="color:#5BBD72; margin-top:-10px;"></i> <% } %>
      <a style="text-decoration: none; color: #ccc" href="/catering/order/payment">Payment</a>
    </div>
    <div class="ui disabled step">
       <a style="text-decoration: none; color: #ccc" href="/catering/order/review">Review</a>
    </div>
  </div>
  <div style="height: 10px;"></div>
  </div>
</div>
<!-- Step End -->

<div style="border-top: 7px solid #822421;">
<div class="container" style="margin-top:15px">
  <!--Card Section-->
  <% if (flash && flash.err) { %>
    <div class="ui red message">
      <%= flash.err %>
    </div>
  <% } %>
  <% if (flash && flash.success) { %>
    <div class="ui green message">
      <%= flash.success %>
    </div>
  <% } %>
  <div class="stackable ui middle aligned grid">
    <div class="six wide column">
      <table  class="spaced-table">
        <tr>
          <td><span style="font-size: 3em">1</span></td>
          <td>
            <h2 class="ui dividing header">
            Choose Credit Card
            <div class="sub header"> For your security, we process all payments in-store, rather than online. When you submit an order, your credit card <b style="color: #E75859">will not</b> be charged until we have successfully <b style="color: #E75859">delivered</b> your order.</b></div>
            </h2>
          </td>
        </tr>
      </table>
    </div>
    <div class="ten wide column">
      <% if(flash && flash.err) { %>
      <div class="ui warning message">
        <% Object.keys(flash.err).forEach(function(error) { %>
        <div class="header"><%- JSON.stringify(flash.err[error]['name']) %></div>
        <ul class="list">
          <li><%- JSON.stringify(flash.err[error]['message']) %></li>
        </ul>
        <% }) %>
      </div>
      <% } %>
      <div class="ui one column relaxed grid">
    <div class="column">
      <div class="ui large fluid form segment" >
        <p class="warning-border"></p>
        <div class="ui medium divided list">
          <% _.each(session.User.savedPayment, function(card){ %>
            <div class="item">
              <div class="left floated content">
                <div class="header">Card ending in <%= card.lastFour %>
                </div>
                <div class="description"><%= card.name %>
                </div>
              </div>
              <form action="/user/removePayment/<%= session.User.savedPayment.indexOf(card) %>" method="POST">
                <input type="hidden" name="_method" value="delete"/>
                <input type="submit" class="right floated medium ui red button" value="Delete"/>
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              </form>
              <% if (session.card && session.User.savedPayment.indexOf(card) == session.card.index) { %>
              <div class="active right floated medium ui payment-change button" index="<%= session.User.savedPayment.indexOf(card) %>">Selected</div>
              <% } else { %>
              <div class="right floated medium ui payment-change button" index="<%= session.User.savedPayment.indexOf(card) %>">Select This Card</div>
              <% } %>
            </div>
          <% }) %>
          <div class="item">
            <a data-toggle="modal" data-target="#myModal" class="medium ui green button">Add New Card</a>
          </div>
        </div>
      </div>

        <form action="/catering/order/payment/save" method="POST" class="ui large fluid form segment" id="select-payment-form">
          <div class="ui error message"></div>
          <input type="submit" class="fluid ui teal submit button" value="Next (Review Your Order)">
          <input type="hidden" name="_csrf" value="<%= _csrf %>">
          <input type="hidden" name="paymentIndex" value="<% if (session.card) { %><%= session.card.index %><% } else { %>-1<% } %>" id="option-index">
        </form>
      </div>
    </div>
  </div>
    </div>
  </div>
  <!--Time Section End-->
</div>
<div style="height: 150px"></div>
</div>