<div class="ui page grid">
<div class="column">
<center><h1 class="ui header" style="font-size: 2.5em"> Lookup </h1><a href="/admin" class="ui red labeled icon button"><i class="hand left icon"></i>Back to Main Page</a></center>
<table class='ui inverted celled table segment'>
    <tr>
        <th>View</th>
        <th>Name</th>
        <th>Company</th>
        <th>Email</th>
    </tr>

    <% _.each(users, function(user) { %>
    <tr data-id="<%= user.id %>" data-model="user">
        <td><a href="/admin/lookup/<%= user.id %>" class="ui fluid tiny green button">View</a></td>
        <td><%= user.name %></td>
        <td><%= user.companyName %></td>
        <td><%= user.email %></td>
    </tr>

    <% }) %>
</table>
</div>
</div>