<div class="ui container">
    <center>
      <h1 class="ui header" style="font-size: 2.5em"> Manage <%= cafe_name %>  Daily Specials</h1>
      <a href="/admin/specials" class="ui red labeled icon button"><i class="hand left icon"></i>Back to Choose Cafe</a>
    </center>

    <br>

    <% if (flash && flash.err) { %>
        <div class="ui red message">
            <%= flash.err %>
        </div>
    <% } %>
    <% if (flash && flash.success) { %>
        <div class="ui green message">
            <%= flash.success %>
        </div>
    <% } %>

    <br>

    <% _.each(specials, function(menu) { %>
    <h2 class="ui dividing header"> <% if ('name' in menu) { %> <%= menu.name %><% } else { %>Lunch Specials<% } %><% if ('subhead' in menu) { %> - <%= menu.subhead%><% } %></h2>

    <center><form action="/specials/deleteAll/<%= menu.id %>?cafe=<%= cafe %>" method="POST">
                        <input type="hidden" name="_method" value="delete"/>
                        <input type="submit" class="ui red button" value="Clear All"/>
                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    </form></center>

    <table class='ui inverted celled table segment'>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
            <% _.each(menu.items, function(item) { %>
                <tr><form action="/specials/update/<%= menu.id %>?index=<%= menu.items.indexOf(item)%>&cafe=<%= cafe %>" method="POST">
                    <td><%= menu.items.indexOf(item) %></td>
                    <td><input value="<%= item.name %>" name="name" type="text" class="form-control"></td>
                    <td><input value="<%= item.price %>" name="price" type="text" class="form-control"></td>
                    <td><input value="<% if ('description' in item) { %><%= item.description %><% } else { %><% } %>" name="description" type="text" class="form-control"></td>
                    <td><input type="hidden" name="_csrf" value="<%= _csrf %>" /><input type="submit" value="Save"  class="btn btn-sm btn-success"></td></form>
                    <td><form action="/specials/delete/<%= menu.id %>?index=<%= menu.items.indexOf(item)%>&cafe=<%= cafe %>" method="POST">
                        <input type="hidden" name="_method" value="delete"/>
                        <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    </form></td>
                </tr>
            <% }) %>
            </tbody>
    </table>

    <center><a href="/specials/add/<%= menu.id %>?cafe=<%= cafe %>" class="ui green button">Add New Item</a></center>

    <% }) %>

</div>