<div id="login-step-section">
  <div style="height: 60px;"></div>
  <div class="container">
    <div class="removable ui five ordered medium steps" style="margin-top: 46px; margin-bottom: 35px;">
      <div class="ui active step">
        Start My Order
      </div>
      <div class="ui disabled step">
        When &amp; Where
      </div>
      <div class="ui disabled step">
        Food
      </div>
      <div class="ui disabled step">
        Payment
      </div>
      <div class="ui disabled step">
        Review &amp; Confirm
      </div>
    </div>
  </div>
  <div class="ui top aligned stackable grid" id="wood">
    <div class="two wide column"></div>
    <div class="six wide column">
      <form action="/user/create" method="POST" class="ui warning form segment" id="signup-form">
        <h4><b>New Customer?</b></h4>
        <p> Enter your information to get started! </p>
        <% if(flash && flash.err && flash.type == 'signup') { %>
        <div class="ui warning message">
          <div class="header"><%- JSON.stringify(flash.err['name']) %></div>
          <ul class="list">
            <li><%- JSON.stringify(flash.err['err']) %></li>
          </ul>
        </div>
        <% } %>
        <div class="ui error message"></div>
        <div class="field">
          <label> Company Contact</label>
          <div class="ui left labeled icon input">
            <input type="text" name="name" placeholder="Your Name">
            <i class="user icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Company Name</label>
          <div class="ui left labeled icon input">
            <input type="text" name="companyName" placeholder="Company Name">
            <i class="briefcase icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Phone Number</label>
          <div class="ui left labeled icon input">
            <input type="text" name="phone" placeholder="Your Phone Number">
            <i class="phone icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>E-Mail</label>
          <div class="ui left labeled icon input">
            <input type="text" name="email" placeholder="Your Email">
            <i class="mail icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <input type="submit" class="ui green submit button" value="Continue!">
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
      </form>
    </div>
    <div class="six wide column">
      <form action="/session/create" method="POST" class="ui warning form segment" id="signin-form">
        <h4><b>Returning Customer?</b></h4>
        <% if(flash && flash.err && flash.type == 'signin') { %>
        <div class="ui warning message">
          <% Object.keys(flash.err).forEach(function(error) { %>
          <div class="header"><%- JSON.stringify(flash.err[error]['name']) %></div>
          <ul class="list">
            <li><%- JSON.stringify(flash.err[error]['message']) %></li>
          </ul>
          <% }) %>
        </div>
        <% } %>
        <div class="ui error message"></div>
        <div class="field">
          <div class="ui left labeled icon input">
            <input type="text" name="email" placeholder="Email Address">
            <i class="user icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <input type="submit" class="ui blue submit button" value="Continue!">
        <input type="hidden" name="_csrf" value="<%= _csrf %>">
      </form>
    </div>
    <div class="two wide column"></div>
  </div>
</div>