<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/card.css">
    <link rel="stylesheet" href="/linker/styles/custom.css">
    <link rel="stylesheet" href="/linker/styles/datetimepicker.min.css">
    <link rel="stylesheet" href="/linker/styles/fa.min.css">
    <link rel="stylesheet" href="/linker/styles/semantic.css">
    <!--STYLES END-->
  </head>

  <body>
    <!-- NAVBAR -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="roomy-button"><a href="/news">News</a></li>
            <li class="roomy-button"><a href="/main">Main Caf&eacute;</a></li>
            <li class="roomy-button"><a href="/catering">Catering</a></li>
            <li class="roomy-button"><a href="/express">Express Caf&eacute;</a></li>
            <li class="roomy-button"><a href="/about">About D&amp;D</a></li>
          </ul>
          <div class="nav navbar-right">
            <% if (session.authenticated) { %>
              <li class="roomy-button dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= session.User.firstName %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/user/show/<%= session.User.id %>">View Account</a></li>
                  <li><a href="/user/edit/<%= session.User.id %>">Edit Account</a> 
                  <li><a href="/catering/menu">Place an Order</a></li>
                  <li class="divider"></li>
                  <li><a href="/session/destroy">Logout</a></li>
                </ul>
              </li>
            <% } else { %>
              <a class ="btn btn-success navbar-btn navbar-right" href="/session/new">Log In</a>
            <% } %>
          </div>
          
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- NAVBAR END-->
    
    <div class="main container">
    <%- body %>
    </div>


    <div class="ui inverted orange page grid segment" id="footer">
      <div class="ten wide column">
        <div class="ui three column stackable grid">
          <div class="column">
            <div class="ui header">Courses</div>
            <div class="ui inverted link list">
              <a class="item">Registration</a>
              <a class="item">Course Calendar</a>
              <a class="item">Professors</a>
            </div>
          </div>
          <div class="column">
            <div class="ui header">Library</div>
            <div class="ui inverted link list">
              <a class="item">A-Z</a>
              <a class="item">Most Popular</a>
              <a class="item">Recently Changed</a>
            </div>
          </div>
          <div class="column">
            <div class="ui header">Community</div>
            <div class="ui inverted link list">
              <a class="item">BBS</a>
              <a class="item">Careers</a>
              <a class="item">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="six wide right floated aligned column">
        <h3 class="ui header">Contact Us</h3>
        <addr>
          334 N. Charles St. <br>
          Baltimore, MD 21201 <br>
        </addr>
        <p>(410) 547-0550</p>
      </div>
    </div>

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/jquery.js"></script>
    <script src="/linker/js/semantic.js"></script>
    <script src="/linker/js/simpleCart.js"></script>
    <script src="/linker/js/waypoints.js"></script>
    <script src="/linker/js/waypoints-sticky.js"></script>
    <script src="/linker/js/moment.min.js"></script>
    <script src="/linker/js/bootstrap.js"></script>
    <script src="/linker/js/button.js"></script>
    <script src="/linker/js/card.js"></script>
    <script src="/linker/js/datetimepicker.js"></script>
    <script src="/linker/js/form.js"></script>
    <script src="/linker/js/menu.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
