<div style="height: 100px"></div>
<h1 class="title"> <%= menu_name %> Menu </h1>
<div class="ui relaxed one column page grid">
  <div class="column">
    <% if (menu_name === "Catering") { %>
    <center style="padding-bottom: -25px"><a href="/catering/order/start/" class="ui small green labeled icon button"><i class="hand right icon"></i>Ready To Place an Order? Click Here!</a></center>
    <% } %>
    <% _.each(menu, function(section) { %>
    <h2 class="section-header" id="<%=section.name%>"><%= section.name %></h2>
    <h3 class="section-desc"> <%= section.subhead %> </h3>
      <% _.each(section.items, function(item) {%>
        <div class="menu-item">
          <b class="item-name item_name"><%= item.name %></b><span class="spacer" style="display:none;"><br></span>
          <span class="item-price"><span class="item_price">$<%= item.price %></span>&nbsp;<%= item.priceSuffix && menu_name === "Catering" ? item.priceSuffix : "each"%><span class="item-serves"><% if(item.minimum) { %><br>(<%=  item.minimum%>)<%} else if(item.serves) {%><br>(<%=item.serves%>)<%} else {%><%}%> </span></span>
          <% if ('description' in item) { %><div class="item-desc"> <%= item.description %></div><% } %>
        </div>
      <% })%>
    <% }) %>
  </div>
</div>
<div style="height: 150px"></div>