
<div style="height: 75px"></div>
<div class="ui relaxed one column page grid">
  <div class="column" style="background-color: #fff !important; box-shadow: 1px 3px 10px 2px #505050;">
    <div style="height: 25px"></div>
    <h1 class="menu-title"> <%= cafe %> Daily Specials </h1>
    <div style="height: 25px"></div>
    <% _.each(specials, function(section) { %>
    <% if (section.name) { %><h2 class="section-header" id="<%=section.name%>" <% if (section.subhead) { %>style="border-bottom: none; padding-bottom: none!important;"<% } %>><%= section.name %></h2><% } %>
    <% if (section.subhead) { %><h3 class="section-desc" style="border-top: 1px solid #822421; padding-top: 20px; font-size: 2.0em"> <%= section.subhead %> - <%= section.day%> </h3> <% } %>
      <% _.each(section.items, function(item) {%>
        <div class="menu-item">
          <b class="item-name item_name"><%= item.name %></b><span class="spacer" style="display:none;"><br></span>
          <span class="item-price"><span style="font-size:1.4em" class="item_price"><%= item.price %></span></span>
          <% if ('description' in item) { %><div class="item-desc"> <%= item.description %></div><% } %>
        </div>
      <% }) %>
      <div style="height: 75px;"></div>
    <% }) %>
  </div>
</div>
<div style="height: 150px"></div>

</div>
