<% if (cafe === "Charles St. Cafe") { %>
<div class="overlay-container">

<div class="overlay"></div>
<div class="moving-modal">
  <h2 style="text-align:center;">
    David and Dad's Charles Street Café is temporarily closed.
  </h2>
  <h4 style="text-align:center;">
   We are moving only two blocks away to a brand-new café at 115 N. Charles.
  </h4>
  <div class="ui two column stackable page grid">
    <div class="column">
      <p>
      The new David and Dad's Café should be open this August. In the meantime, we will continue to serve you the best we can from our David and Dad's Express location in the T. Rowe Price Building, at the corner of Light and Pratt Streets.
      </p>
      <br>
      <div style="text-align:center; border:2px solid #000">
      David and Dad's Cafe Express<br>
      410-385-6267<br>
      Open Monday-Friday, 7am-3pm
      </div>
      <br>
      <p>
      We will continue to serve the same delivery area from our David and Dad's Cafe Express. Please order by 10:45am and we will deliver between 12:00 and 12:45.
      </p>
      <div style="color: #822421; font-size: 1.2em; text-align:center">David and Dad's Catering Service will continue to operate as usual!</div>
    </div>
    <div class="center aligned column">
      <img src="/images/new_cafe.png" style="height:300px">
    </div>
  </div>
</div>
<% } %>

<div style="height: 75px"></div>
<div class="ui relaxed one column page grid">
  <div class="column" style="background-color: #fff !important; box-shadow: 1px 3px 10px 2px #505050;">
    <div style="height: 25px"></div>
    <h1 class="menu-title"> <%= cafe %> Daily Specials </h1>
    <div style="height: 25px"></div>
    <% _.each(specials, function(section) { %>
    <% if (section.name) { %><h2 class="section-header" id="<%=section.name%>" <% if (section.subhead) { %>style="border-bottom: none; padding-bottom: none!important;"<% } %>><%= section.name %></h2><% } %>
    <% if (section.subhead) { %><h3 class="section-desc" style="border-top: 1px solid #822421; padding-top: 20px; font-size: 2.0em"> <%= section.subhead %> - <%= section.day%> </h3> <% } %>
      <% _.each(section.items, function(item) {%>
        <div class="menu-item">
          <b class="item-name item_name"><%= item.name %></b><span class="spacer" style="display:none;"><br></span>
          <span class="item-price"><span style="font-size:1.4em" class="item_price"><%= item.price %></span></span>
          <% if ('description' in item) { %><div class="item-desc"> <%= item.description %></div><% } %>
        </div>
      <% }) %>
      <div style="height: 75px;"></div>
    <% }) %>
  </div>
</div>
<div style="height: 150px"></div>

</div>