<div class="ui page grid">
<div class="column">
<center><h1 class="ui header" style="font-size: 2.5em"> Edit <%= user.name %> </h1><a href="/user" class="ui red labeled icon button"><i class="hand left icon"></i>Back to Manage Users</a></center>

<form action="/user/update/<%= user.id %>" method="POST" class="ui large fluid form segment" id="edit-form">
	<p>Edit only the fields you would like to change, everything else will remain the same.</p>
	  <div class="field">
	    <label>Name</label>
	    <input value="<%= user.name %>" name="name" type="text" class="form-control">
	  </div>
	<div class="two fields">
	<div class="field">
	    <label>Company Name</label>
	    <input value="<%= user.companyName %>" name="companyName" type="text" class="form-control">
	  </div>
	  <div class="field">
	    <label>Phone Number</label>
	    <input value="<%= user.phone %>" name="phone" type="text" class="form-control">
	  </div>
	</div>
	<div class="field">
	  <label>Email Address</label>
	  <input value="<%= user.email %>" name="email" type="text" class="form-control">
	</div>
	<input type="submit" value="SAVE" class="btn btn-lg btn-primary btn-block"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>