<div class="ui page grid">
<div class="column">
<center>
	<h1 class="ui header" style="font-size: 2.5em"> Manage Users </h1>
    <a class="ui blue labeled icon button" href="/admin/new"><i class="add icon"></i>Create New Admin</a>
	</center>
<table class='ui inverted celled table segment'>
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Company</th>
		<th>Email</th>
		<th>Phone</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>


	<% _.each(users, function(user) { %>
	<tr data-id="<%= user.id %>" data-model="user">
		<td><%= user.id %></td>
		<td><%= user.name %></td>
		<td><%= user.companyName %></td>
		<td><%= user.email %></td>
		<td><%= user.phone %></td>
		<td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a></td>
		<td><form action="/user/destroy/<%= user.id %>" method="POST">
			<input type="hidden" name="_method" value="delete"/>
			<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
			<input type="hidden" name="_csrf" value="<%= _csrf %>" />
		</form></td>
	</tr>

	<% }) %>
</table>
</div>
</div>