<div class="container" style="margin-top:80px">
  <!--Card Section-->
  <% if (flash && flash.err) { %>
    <div class="ui red message">
      <%= flash.err %>
    </div>
  <% } %>
  <% if (flash && flash.success) { %>
    <div class="ui green message">
      <%= flash.success %>
    </div>
  <% } %>

	<h1 class="ui center aligned dividing header">Edit Credit Cards</h1>

  <div class="stackable ui center aligned grid">
    <div class="ten wide column">
      <% if(flash && flash.err) { %>
      <div class="ui warning message">
        <% Object.keys(flash.err).forEach(function(error) { %>
        <div class="header"><%- JSON.stringify(flash.err[error]['name']) %></div>
        <ul class="list">
          <li><%- JSON.stringify(flash.err[error]['message']) %></li>
        </ul>
        <% }) %>
      </div>
      <% } %>
      <div class="ui one column relaxed grid">
    <div class="column">
      <div class="ui large fluid form segment" >
        <p class="warning-border"></p>
        <div class="ui medium divided list">
          <% _.each(session.User.savedPayment, function(card){ %>
          <% if (session.card && session.User.savedPayment.indexOf(card) == session.card.index) { %>
            <div class="active item payment-option" index="<%= session.User.savedPayment.indexOf(card) %>">
          <% } else { %>
            <div class="item payment-option" index="<%= session.User.savedPayment.indexOf(card) %>">
          <% } %>
              <div class="left floated content">
                <div class="header">Card ending in <%= card.lastFour %>
                </div>
                <div class="description"><%= card.name %>
                </div>
              </div>
              <form action="/user/removePayment/<%= session.User.savedPayment.indexOf(card) %>" method="POST">
                <input type="hidden" name="_method" value="delete"/>
                <input type="submit" class="right floated medium ui red button" value="Delete"/>
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              </form>
            </div>
          <% }) %>


				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<div style="min-height:100px;"></div>
