<% function create_subhead(type) { %>
  <% if (type in subheads && subheads[type]) { %>
  <p><%= subheads[type] %></p>
  <% } else { %>
  <% } %>
<% } %>
<% var dd_red = "#822421!important" %>

<% function create_freebie_section(type) {%>
  <% type = 'freeside_' + type; %>
  <div class="<%=type%>-side virtual-side">
  <% if (type == "freeside_salad") { %>
    <p>This salad comes with free dressing.</p>
  <% } else if (type == "freeside_wings") { %>

  <% } else { %>
    <p>This selection comes with a free item. Please choose one
    from the menu below, or leave it blank if you don't want it.</p>
  <% } %>
  <% if (type == "freeside_salad") { %>
    <div class="field"><label>Choose your dressing:</label></div>
  <% } else if (type == "freeside_wings") { %>
    <div class="field"><label>Choose your wings flavor:</label></div>
  <% } else { %>
    <div class="field"><label>Choose your free side:</label></div>
  <% } %>
  <% create_subhead(type+'_side') %>
  <% if (type == "freeside_wings") { %>
      <select class="sauce-select ui dropdown">
  <% } else { %>
      <select class="side-select ui dropdown">
  <% } %>
    <option value=""></option>
    <% var item_arr; %>
    <% if (type == "freeside_salad") { %>
      <% item_arr = custom.salad_dressing; %>
    <% } else if (type == "freeside_wings") { %>
      <% item_arr = custom.wing_sauce; %>
    <% } else { %>
      <% item_arr = extras[type].items; %>
    <% } %>
    <p> <%= item_arr %> </p>
    <% for(var i=0; i< item_arr.length; i++) { item = item_arr[i]; %>
      <option value="<%=item.type%>"><%=item.type%></option>
    <% } %>
  </select>
  <% if (type == "freeside_wings") { %>
    <br><br><div class="field"><label>Choose your dressing:</label></div>
    <select class="side-select ui dropdown">
    <% for (var i=0; i < custom.wing_dressing.length; i++) { item = custom.wing_dressing[i]; %>
      <option value="<%=item.type%>"><%=item.type%></option>
    <% } %>
    </select>
  <% } %>
	</div>

<% } %>



<div style="height: 150px"></div>
<div class="container">
    <h1 class="ui center aligned dividing header"> Online Order Form </h1>

    <center>
    <!-- 
      <h3>
        It is currently <span style="color:<%if(isBeforeDeadline&!isWeekend){%>#2ecc71<%}else{%>#e74c3c<%}%>"><%= time %></span> on  <span style="color:<%if(isWeekend){%>#e74c3c<%}else{%>#2ecc71<%}%>"><%= dayOfTheWeek %></span>, <%= date %>.
      </h3>
    -->
      <h4>
        Virtual cafe orders must be submitted by the "Order By" time in red below. 
        <br>
        Standard takeout and delivery orders can be submitted at any time.
        <!--
        <% if (isWeekend) { %>
        Although we don't deliver on weekends, you may still schedule an order for any date this coming week!
        <% } else { %>
          <% if (isBeforeDeadline) { %>
             If you would like your order to be delivered today, please be sure
						 to submit this form by the designated time below! 
          <% } else { %>
            Unfortunately, it is too late to make an order for today (our cutoff
						is 11:00AM, but you can still place one for a future date!).
          <% } %>
        <% } %>
        -->
      </h4>
      <h4> If you have any questions or problems with the order form, call (410)-547-0550. </h4>
    </center>

    <div class="ui grid">
        <div class="sixteen wide column">
            <form class="ui warning form segment" id="virtualcafe-form">
              <div class="ui error message"></div>

<!----------------------------------------------------------------------------->
<!----------------------------------------------------------------------------->
              <table class="spaced-table" style="width: 100%; margin-bottom: 30px">
                <tr>
                  <td style="width: 50px"><span style="font-size: 3em">1</span></td>
                  <td>
                    <div class="ui inverted segment" style="background-color: #822421!important;">
                      <h2 class="ui inverted header"  style="font-family: 'Montserrat'; border-right: 2px solid #fff">
                        Info
                        <div class="sub header">Feel free to edit this information if necessary, we'll save it for next time to make your order even faster!</div>
                      </h2>
                    </div>
                  </td>
                </tr>
              </table>

							<!--<h1 class="ui dividing header">1. Info&nbsp;&nbsp;&nbsp;&nbsp;
								<span style="font-size:0.55em">Feel free to edit this information if
									necessary, we'll save it for next time to make your order even
									faster!</span>
							</h1>-->

              <div class="three fields">
                <div class="field">
                  <label>Name</label>
                    <div class="field">
                      <input type="text" name="name" value="<% if ('virtualName' in session.User) { %><%= session.User.virtualName %><% } else if ('name' in session.User) { %><%= session.User.name %><% } %>">
                    </div>
                </div>
                <div class="field">
                  <label>E-Mail</label>
                    <div class="field">
                      <input type="text" name="email" value="<% if ('virtualEmail' in session.User) { %><%= session.User.virtualEmail %><% } else if ('email' in session.User) { %><%= session.User.email %><% } %>">
                    </div>
                </div>
                <div class="field">
                  <label>Phone</label>
                    <div class="field">
                      <input type="text" name="phone" value="<% if ('virtualPhone' in session.User) { %><%= session.User.virtualPhone %><% } else if ('phone' in session.User) { %><%= session.User.phone %><% } %>">
                    </div>
                </div>
              </div>


<!----------------------------------------------------------------------------->
<!----------------------------------------------------------------------------->


              <!--<h1 class="ui dividing header">2. Location -
              <span style="font-size:0.5em">Click on your location to select
								it.</span></h1>
                                -->

<table class="spaced-table" style="width: 100%; margin-bottom: 30px">
      <tr>
        <td style="width: 50px"><span style="font-size: 3em">2</span></td>
        <td>
          <div class="ui inverted segment" style="background-color: #822421!important;">
            <h2 class="ui inverted header"  style="font-family: 'Montserrat'; border-right: 2px solid #fff">
              Location
              <div class="sub header">We now offer delivery in addition to takeout from the cafe and our standard virtual cafe locations!
              </div>
            </h2>
          </div>
        </td>
      </tr>
    </table>

<!--<center><b>We are closed today due to the weather. We hope to see you tomorrow!</b></center>-->
<!--<div id="select-virtual-button" style="pointer-events:none;" class="fluid ui disabled big toggle button">Choose Virtual Cafe Location</div>-->

<div class="ui center aligned stackable page grid">
  <div class="four wide column">
    <div id="select-virtual-button" class="fluid ui big toggle button">Choose Virtual Cafe Location</div>
  </div>
  <div class="four wide column">
    <div id="select-pickup-button"  class="fluid ui big toggle button">Pick Up @ 115 N. Charles</div>
  </div>
  <div class="four wide column">
    <div id="select-delivery-button"  class="fluid ui big toggle button">Delivery</div>
  </div>
</div>

<div class="ui bottom attached segment menu-tab" id="menu-delivery">
<div class="ui message">
<p>If you are ordering from a business location, <b>please double check our "Virtual Cafe" locations</b> and make sure that your workplace is not already listed there.</p>
</div>
<div class="ui message">
<p>There is a flat fee of <b>$1.50</b> for all deliveries. If this is your first time ordering delivery, please add your address first. We'll save it for future orders.</p>
</div>
    <div class="field">
        <center>
        <% if (!('savedVirtualDelivery' in session.User) || session.User.savedVirtualDelivery.length < 1) { %>
            <br>
            <p> It looks like you don't have any saved destinations! Click the orange button below to add one. </p>
        <% } else { %>
            <select class="delivery-select ui dropdown" style="font-size:0.7em;">
                <% _.each(session.User.savedVirtualDelivery, function(dest, destIndex, l) { %> 
                    <option value="delivery-<%= destIndex %>"><%= dest.address%>,&nbsp;<%= dest.city %>&nbsp;<%= dest.zip %> -- <%= dest.special %></option>
                <% }) %>
            </select>
        <% } %>
        <br>
        <br>
        <a href="/virtualcafe/delivery-locations" class="medium ui orange button">Add/Remove Addresses</a>
        </center>
    </div>
</div>

<div class="ui bottom attached segment menu-tab" id="menu-pickup">
<div class="ui message">
<p>You can pickup your order from our main cafe location 115 N. Charles any time before 3pm. There are no extra service charges. </p>
</div>
</div>

<div class="ui bottom attached segment menu-tab" id="menu-virtual">
<div class="ui message">
<p> Click your location to select it. You must be able to pick up your order at one of these locations <b>at the designated time</b>!</p>
</div>
              <div class="field">
                    <table class="ui celled table">
                        <thead>
                            <tr>
                              <th >Location</th>
															<th >Order By</th>
                              <th >Delivery</th>
                              <th >On-Site Contact</th>
                              <th> Fee </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% _.each(locations, function(location) {%>
                            <tr onclick="locationSelected(this);">
                              <td>
                                    <span><%- location.name %></span>
                                    <% if ('info' in location) {%> 
                                    <br/><span><%- location.info %></span>
                                    <% } %>
                             </td>
                             <% if (location.time == "(Pickup in store only)") { time_color = "color:#2ecc71" } else { time_color = 'color:#c0392b'}  %>
                              <td> <b style=<%= time_color %>><%= location.order_time %></b></td>
                              <td><%= location.time %></td>
                              <td><%= location.contact.name %> <br><%=location.contact.email%></td>
                              <td><%= location.fee %> </td>
                            </tr>
                            </a>
                            <% })%>
                        </tbody>
                    </table>
                    <input type="hidden" id="location-input" type="text" name="location" value="">
              </div>
</div>

<!----------------------------------------------------------------------------->
<!----------------------------------------------------------------------------->

              <!--<h1 class="ui dividing header">3. Date </h1>-->
    <table class="spaced-table" style="width: 100%; margin-bottom: 30px">
      <tr>
        <td style="width: 50px"><span style="font-size: 3em">3</span></td>
        <td>
          <div class="ui inverted segment" style="background-color: #822421!important;">
            <h2 class="ui inverted header"  style="font-family: 'Montserrat'; border-right: 2px solid #fff">
              Date
              <div class="sub header">If it's after the "Order By" time today, you'll only be able
								to place a Virtual Cafe order for a future date! 
                                </div>
            </h2>
          </div>
        </td>
      </tr>
    </table>

							<center><span id="toolate-box" style="font-weight:bold;font-size:1.2em">
                  <%if(isWeekend){%>
                    Sorry, we don't deliver on weekends!
                  <%} else if (!isBeforeDeadline) { %>
                    <!--Sorry, we cannot accept orders past 11:00AM for today!-->
                  <% } %>
							</span></center>
              <div class="ui stackable page grid">
                <div class="three wide column">
                </div>
                <div class="three wide column">
                    <br>
                    <center>
                        <div class="ui <%if(!isBeforeDeadline|isWeekend){%>disabled<%}%> big toggle button" id="today-button">Today</div>
                    </center>
                </div>
                <div class="four wide column">
                <br>
                    <center><h1>OR</h1></center>
                </div>
                <div class="five wide column">
                  <div class="field">
                    <label>Future Date</label>
                    <div class="ui left icon input">
                      <input type='text' id='virtual-datepicker' name='date' value =""/>
                      <i class="calendar icon" onclick="$('#virtual-datepicker').focus()"></i>
                    </div>
                  </div>
                </div>
              </div>

<!----------------------------------------------------------------------------->
<!----------------------------------------------------------------------------->

              <!--<h1 class="ui dividing header">4. Choose your lunch items - <span
									style="font-size:0.5em">2 ways to order...</span></h1>-->
    <table class="spaced-table" style="width: 100%; margin-bottom: 30px">
      <tr>
        <td style="width: 50px"><span style="font-size: 3em">4</span></td>
        <td>
          <div class="ui inverted segment" style="background-color: #822421!important;">
            <h2 class="ui inverted header"  style="font-family: 'Montserrat'; border-right: 2px solid #fff">
              Choose your lunch items
            </h2>
          </div>
        </td>
      </tr>
    </table>

							<div class="ui grid">
							<div class="three wide column">
              <div class="ui vertical menu" id="virtualcafe-sections">
              <% for(var i=0; i<menu.length; i++) { section = menu[i]; %>
                <% if(section && !section.breakfast) { %>
                  <a class="item <%if(i==0){%>active<%}%>" target="menu-<%=i%>">
                    <%= section.name %>
                  </a>
                <%}%>
              <% } %>
              </div>
							</div>

							<div class="thirteen wide column">
              <% for(var i=0; i<menu.length; i++) { section = menu[i]; if (section) {%>
                <div class="ui bottom attached segment menu-tab <%if(i==0){%>active<%}%>" id="menu-<%=i%>">
                  <p> <%= section.subhead %> </p>
                  <div class="ui stackable grid">
                  <% for(var j=0; j<section.items.length; j++) { item =
									section.items[j]; if (item && item.name !== "") {%>
                    <div class="five wide column">
                      <div class="simpleCart_shelfItem ui segment">
                        <b class="item_name"><%= item.name %></b> (<span class="item_price"><%= item.price %></span>)<span class="item_side" style="visibility:hidden"><%= item.serves %></span><span class="item_customizable" style="visibility:hidden"><%= item.customize %></span>
                        <% if ('description' in item && item['description'] != '') { %>
                          <p>(click to see description)</p>
                        <% } else { %>
                          <br>
                        <% } %>
                        <div class="item_description">
                          <% if ('description' in item) { %>
                            <%= item.description %>
                          <% } %>
                        </div>
                        <div class="item_select ui tiny blue button">Select</div>
                      </div>
                    </div>

                  <% }}%>
                  </div>
                </div>
              <% }} %>
              <div class="ui bottom attached segment menu-tab" id="menu-extras">

                  <span class="ui red labeled icon button go-back" style="float:right">
                    <i class="hand left icon"></i>
                    Back
                  </span>

									<div style="font-size:1.75em;">
										<span class="customize custom-field span-field">Customize Your&nbsp;</span><span style="border-bottom:2px dotted;" id="customize-item-name"></span>
									</div>
                                    <div><p id="customize-item-desc"></p></div>
									<hr>

                  <div>

										<div class="deli-field custom-field">
											<label>Choose Bread:</label>
											<% create_subhead('bread') %>
											<select class="custom-select ui dropdown">
												<option value=""></option>
												<% for(var i=0; i< custom.bread.length; i++) { bread = custom.bread[i]; %>
													<option value="bread-<%=bread.type%>"><%=bread.type%> (<%=bread.price%>)</option>
												<% } %>
											</select>
											<!--
											<div class="ui stackable grid">
												<% for(var i=0; i<custom.bread.length; i++) { addon = custom.bread[i]; %>
													<div class="three wide column">
														<div class="simpleCart_customItem ui checkbox">
															<input type="checkbox">
															<label><span class="item_name" type="bread"><%=addon.type%></span> <% if (addon.price) { %>(<span class="item_price"><%=addon.price%></span>)<% } %></label>
														</div>
													</div>
												<% } %>
											</div>-->
										</div>
									
										<div class="deli-field custom-field">
											<label>Choose Cheese:</label>
											<% create_subhead('cheese') %>
											<div class="ui stackable grid">
												<% for(var i=0; i<custom.cheese.length; i++) { addon = custom.cheese[i]; %>
													<div class="three wide column">
														<div class="simpleCart_customItem ui checkbox">
															<input type="checkbox">
															<label><span class="item_name" type="cheese"><%=addon.type%></span> <% if (addon.price) { %>(<span class="item_price"><%=addon.price%></span>)<% } %></label>
														</div>
													</div>
												<% } %>
											</div>
										</div>

										<div class="deli-field custom-field">
											<label class="deli-field custom-field">Choose Toppings:</label>
											<% create_subhead('addons') %>
											<div class="ui stackable grid">
												<% for(var i=0; i<custom.addons.length; i++) { addon = custom.addons[i]; %>
													<div class="three wide column">
														<div class="simpleCart_customItem ui checkbox">
															<input type="checkbox">
															<label><span class="item_name" type="addons"><%=addon.type%></span> <% if (addon.price) { %>(<span class="item_price"><%=addon.price%></span>)<% } %></label>
														</div>
													</div>
												<% } %>
											</div>
										</div>

										<div class="grill-field custom-field">
											<label class="grill-field custom-field">Choose <u>Additional</u> Toppings:</label>
                                            <p>Make a selection here only if you want to add to the preset toppings listed above. If you need to remove a topping, please mention it in special requests.</p>
											<div class="ui stackable grid">
												<% for(var i=0; i<custom.addons.length; i++) { addon = custom.addons[i]; %>
													<div class="three wide column">
														<div class="simpleCart_customItem ui checkbox">
															<input type="checkbox">
															<label><span class="item_name" type="addons"><%=addon.type%></span> <% if (addon.price) { %>(<span class="item_price"><%=addon.price%></span>)<% } %></label>
														</div>
													</div>
												<% } %>
											</div>
										</div>



										<div class="salad-field custom-field">
											<label class="salad-field custom-field">Extra Toppings:</label>
											<% create_subhead('salad_addons') %>
											<div class="ui stackable grid">
												<% for(var i=0; i<custom.salad_addons.length; i++) { addon = custom.salad_addons[i]; %>
													<div class="three wide column">
														<div class="simpleCart_customItem ui checkbox">
															<input type="checkbox">
															<label><span class="item_name" type="addons"><%=addon.type%></span> <% if (addon.price) { %>(<span class="item_price"><%=addon.price%></span>)<% } %></label>
														</div>
													</div>
												<% } %>
											</div>
										</div>

                                        <!--
										<div class="platter-field custom-field">
											<label>Choose Free Side:</label>
											<select class="custom-select ui dropdown">
												<option value=""></option>
												<% for(var i=0; i< extras.sides.items.length; i++) { side = extras.sides.items[i]; %>
													<option value="side-<%=side.type%>"><%=side.type%></option>
												<% } %>
											</select>
										</div>
                                        -->

                    <br>
                  </div>

                  <% create_freebie_section('deli') %>
                  <!--<% create_freebie_section('grill') %>-->
                  <% create_freebie_section('salad') %>
                  <% create_freebie_section('platter') %>
                  <% create_freebie_section('wings') %>

                  <!-- this div encompasses all addons so that we can disable them for none type -->
                  <div id="extras-add-all">

                  <hr>
                    <label>Special Requests:</label>
                    <textarea placeholder="For example: Not too much mayo. Please do not use this space to add toppings or items! Select your toppings in the section above and your sides in the sections below." name="special_request" style="height:30%" id="special_request"></textarea>
                  <br>
                  <hr>


                  <div class="field"><label>Add a drink?</label></div>

                  <div class="simpleCart_shelfItem">
                    <div class="ui stackable grid">
                      <% for(var i=0; i<extras.drinks.items.length; i++) { drink = extras.drinks.items[i]; %>
                        <div class="four wide column">
                          <div class="simpleCart_shelfItem ui checkbox">
                            <input type="checkbox">
                            <label><span class="item_name"><%=drink.type%></span> <span class="item_price">(<%=drink.price%>)</span></label>
                          </div>
                        </div>
                      <% } %>
                    </div>
                  </div>

                  <hr>

                  <div class ="field"><label>Add sides?</label></div>
                  <div class="ui stackable grid">
                    <% for(var i=0; i<extras.sides.items.length; i++) { side = extras.sides.items[i]; %>
                      <div class="four wide column">
                        <div class="simpleCart_shelfItem ui checkbox">
                          <input type="checkbox">
                          <label><span class="item_name"><%=side.type%></span> <span class="item_price">(<%=side.price%>)</span></label>
                        </div>
                      </div>
                    <% } %>
                  </div>

                  <hr>

                  <div class ="field"><label>Add dessert?</label></div>
                  <div class="ui stackable grid">
                    <% for(var i=0; i<extras.desserts.items.length; i++) { dessert = extras.desserts.items[i]; %>
                      <div class="four wide column">
                        <div class="simpleCart_shelfItem ui checkbox">
                          <input type="checkbox" class="item_add">
                          <label><span class="item_name"><%=dessert.type%></span> <span class="item_price">(<%=dessert.price%>)</span></label>
                        </div>
                      </div>
                    <% } %>
                  </div>

                  <hr>
                  </div>


                  <center>
                  <span class="ui blue labeled icon button order-more"
                  style="float:center">
                    <i class="hand up icon"></i>
                    Order more items
                  </span>
                  <h4 class="ui blue segment" style="width:50%">
                  Once you've added all of your food, scroll down to view your order summary, enter your payment information, and complete your order.
                  </h4>
                  </center>

              </div>



							<!--
              <div class="ui bottom attached segment menu-tab" id="menu-custom">
                <h4 style="color:<%=dd_red%>;"> Create a custom sandwich, wrapper, burger, or salad with exactly what you want.</h4>

                <div class="field">
                  <label>Type:</label>
                  <select class="custom-type-select ui dropdown">
                    <option value=""></option>
                    <option value="deli">Deli Sandwich</option>
                    <option value="wrapper">Deli Wrapper</option>
                    <option value="grill">From The Grill</option>
                    <option value="burger">Burger</option>
                    <option value="salad">Salad</option>
                  </select>
                </div>

                <hr class="deli-field wrapper-field grill-field burger-field salad-field custom-field">

                <div class="deli-field custom-field">
                  <label>Bread:</label>
                  <% create_subhead('bread') %>
                  <select class="custom-select ui dropdown">
                    <option value=""></option>
                    <% for(var i=0; i< custom.bread.length; i++) { bread = custom.bread[i]; %>
                      <option value="bread-<%=bread.type%>"><%=bread.type%> (<%=bread.price%>)</option>
                    <% } %>
                  </select>
                </div>

                <div class="wrapper-field custom-field">
                  <label>Wrapper:</label>
                  <% create_subhead('wrapper') %>
                  <select class="custom-select ui dropdown">
                    <option value=""></option>
                    <% for(var i=0; i< custom.wrapper.length; i++) { wrapper = custom.wrapper[i]; %>
                      <option value="wrapper-<%=wrapper.type%>"><%=wrapper.type%> (<%=wrapper.price%>)</option>
                    <% } %>
                  </select>
                </div>

                <div class="salad-field custom-field">
                  <label>Greens:</label>
                  <% create_subhead('salad_greens') %>
                  <div class="ui stackable grid">
                    <% for(var i=0; i<custom.salad_greens.length; i++) { green = custom.salad_greens[i]; %>
                      <div class="three wide column">
                        <div class="simpleCart_customItem ui checkbox">
                          <input type="checkbox">
                          <label><span class="item_name" type="green"><%=green.type%></span></label>
                        </div>
                      </div>
                    <% } %>
                  </div>
                </div>

                <hr class="deli-field wrapper-field custom-field">

                <div class="deli-field wrapper-field custom-field">
                  <label>Meat:</label>
                  <% create_subhead('delimeat') %>
                  <div class="ui stackable grid">
                    <% for(var i=0; i<custom.delimeat.length; i++) { meat = custom.delimeat[i]; %>
                      <div class="three wide column">
                        <div class="simpleCart_customItem ui checkbox">
                          <input type="checkbox">
                          <label><span class="item_name" type="meat"><%=meat.type%></span> ($<span class="item_price"><%=meat.price%></span>)</label>
                        </div>
                      </div>
                    <% } %>
                  </div>
                </div>

                <div class="grill-field custom-field">
                  <label>Entree:</label>
                  <% create_subhead('grillmeat') %>
                  <div class="ui stackable grid">
                    <% for(var i=0; i<custom.grillmeat.length; i++) { meat = custom.grillmeat[i]; %>
                      <div class="three wide column">
                        <div class="simpleCart_customItem ui checkbox">
                          <input type="checkbox">
                          <label><span class="item_name" type="meat"><%=meat.type%></span> ($<span class="item_price"><%=meat.price%></span>)</label>
                        </div>
                      </div>
                    <% } %>
                  </div>
                </div>

                <div class="burger-field custom-field">
                  <label>Meat:</label>
                  <% create_subhead('burger') %>
                  <select class="custom-select ui dropdown">
                    <option value=""></option>
                    <% for(var i=0; i< custom.burger.length; i++) { burger = custom.burger[i]; %>
                      <option value="burger.<%=burger%>"><%=burger%></option>
                    <% } %>
                  </select>
                </div>

                <hr class="deli-field wrapper-field grill-field burger-field salad-field custom-field">

                <div class="deli-field wrapper-field grill-field burger-field custom-field">
                  <label>Cheese:</label>
                  <% create_subhead('cheese') %>
                  <div class="ui stackable grid">
                    <% for(var i=0; i<custom.cheese.length; i++) { cheese = custom.cheese[i]; %>
                      <div class="three wide column">
                        <div class="simpleCart_customItem ui checkbox">
                          <input type="checkbox">
                          <label><span class="item_name" type="cheese"><%=cheese.type%></span> ($<span class="item_price"><%=cheese.price%></span>)</label>
                        </div>
                      </div>
                    <% } %>
                  </div>
                </div>

                <div class="salad-field custom-field">
                  <label>Free Topings:</label>
                  <% create_subhead('salad_free') %>
                  <div class="ui stackable grid">
                    <% for(var i=0; i<custom.salad_free.length; i++) { topping = custom.salad_free[i]; %>
                      <div class="three wide column">
                        <div class="simpleCart_customItem ui checkbox">
                          <input type="checkbox">
                          <label><span class="item_name" type="free_topping"><%=topping.type%></span></label>
                        </div>
                      </div>
                    <% } %>
                  </div>
                </div>

                <hr class="deli-field wrapper-field grill-field burger-field salad-field custom-field">

                <div class="deli-field wrapper-field grill-field burger-field custom-field">
                  <label>Add-Ons:</label>
                  <% create_subhead('addons') %>
                  <div class="ui stackable grid">
                    <% for(var i=0; i<custom.addons.length; i++) { addon = custom.addons[i]; %>
                      <div class="three wide column">
                        <div class="simpleCart_customItem ui checkbox">
                          <input type="checkbox">
                          <label><span class="item_name" type="addons"><%=addon.type%></span> <% if (addon.price) { %>($<span class="item_price"><%=addon.price%></span>)<% } %></label>
                        </div>
                      </div>
                    <% } %>
                  </div>
                </div>

                <div class="salad-field custom-field">
                  <label>Premium Toppings:</label>
                  <% create_subhead('salad_premium') %>
                  <div class="ui stackable grid">
                    <% for(var i=0; i<custom.salad_premium.length; i++) { topping = custom.salad_premium[i]; %>
                      <div class="three wide column">
                        <div class="simpleCart_customItem ui checkbox">
                          <input type="checkbox">
                          <label><span class="item_name" type="premium_topping"><%=topping.type%></span> ($<span class="item_price"><%=topping.price%></span>)</label>
                        </div>
                      </div>
                    <% } %>
                  </div>
                </div>

                <hr class="salad-field custom-field">

                <div class="salad-field custom-field">
                  <label>Dressings (served on the side):</label>
                  <% create_subhead('salad_dressing') %>
                  <div class="ui stackable grid">
                    <% for(var i=0; i<custom.salad_dressing.length; i++) { dressing = custom.salad_dressing[i]; %>
                      <div class="three wide column">
                        <div class="simpleCart_customItem ui checkbox">
                          <input type="checkbox">
                          <label><span class="item_name" type="dressing"><%=dressing.type%></span></label>
                        </div>
                      </div>
                    <% } %>
                  </div>
                </div>

                <hr class="deli-field wrapper-field grill-field burger-field salad-field custom-field">

                <div class="field deli-field wrapper-field grill-field burger-field salad-field custom-field"><label>Special Requests:</label>
                  <textarea placeholder="For example: Not too much mayo" name="special_request" style="height:30%" id="custom-special_request"></textarea>
                </div>

                <hr class="deli-field wrapper-field grill-field burger-field salad-field custom-field">
                <div class="deli-field wrapper-field grill-field burger-field salad-field custom-field">
                    <div class="ui medium blue button" id="custom-addtocart">Continue to Choose Your Sides and Drink</div>
                </div>

							</div>-->
              </div>
              </div>

							<div class="ui padded segment">
              <h1> Order Summary </h1>
              <hr>
              <div class="simpleCart_items"></div>
              <hr>
              <table class="fat-table spaced-table">
              <tr>
                <td> <span class="ui large label">Subtotal:</span></td>
                <td> <span class="simpleCart_total"></span></td>
              </tr>
              <tr>
                <td><span class="ui large label">Tax:</span></td>
                <td><span class="simpleCart_tax"></span></td>
              </tr>
              <tr>
                <td><span class="ui large label">Service Fee:</span></td>
                <td><span class="simpleCart_shipping"></span></td>
              </tr>
              <hr>
              <tr>
                <td><span class="ui large label">Total:</span></td>
                <td><span class="simpleCart_grandTotal"></span></td>
              </tr>
              </table>
							</div>

<!----------------------------------------------------------------------------->
<!----------------------------------------------------------------------------->

               <!--<h1 class="ui dividing header">5. Credit Card</h1>-->

<table class="spaced-table" style="width: 100%; margin-bottom: 30px">
      <tr>
        <td style="width: 50px"><span style="font-size: 3em">5</span></td>
        <td>
          <div class="ui inverted segment" style="background-color: #822421!important;">
            <h2 id="creditcard" class="ui inverted header"  style="font-family: 'Montserrat'; border-right: 2px solid #fff">
              Credit Card
              <div class="sub header">At this time, our virtual cafe only accepts credit card payment!</div>
            </h2>
          </div>
        </td>
      </tr>
    </table>



    <center> <h4>Select a saved credit card or enter a new one:</h4>
    <p> Click <a href="/virtualcafe/edit-cards">here</a> if you would like to delete one of your saved cards.<br>If you make any changes, you will need to refresh this page to see them.</p>


                     <select class="card-select ui dropdown">
                      <option value="">New Card</option>
   <% if(session.User.savedPayment && session.User.savedPayment.length > 0) { %>
                      <% _.each(session.User.savedPayment, function(card){ %>
                        <% if ('token' in card) { %> 
                          <option value="<%= [card.lastFour,card.name,card.expiry,card.brand,card.zip,session.User.savedPayment.indexOf(card)].join() %>"><%= card.brand %> ending in <%= card.lastFour %> (<%= card.name %>)</option>
                        <% } %>
                      <% }) %>
    <% } %>
                    </select></center>

              <div class="ui stackable two column middle aligned grid" id="card-form">
                <div class="column">
                    <br>
                    <div class="ui fluid segment">
                      <% if(flash && flash.err) { %>
                      <div class="ui warning message">
                        <% Object.keys(flash.err).forEach(function(error) { %>
                        <div class="header"><%- flash.err[error]['name'] %></div>
                        <ul class="list">
                          <li><%- flash.err[error]['message'] %></li>
                        </ul>
                        <% }) %>
                      </div>
											<% } %>

                      <div class="field">
                        <label>Card Number</label>
                        <input placeholder="1234 5678 1234 5678" name="number" type="text" id="card-number">
                      </div>
                      <div class="field">
                        <label>Name On Card</label>
                        <input placeholder="David Cangialosi" name="card_name" type="text" id="card-name">
                      </div>
                      <div class="two fields">
                        <div class="field">
                          <label>Expiration Date</label>
                          <input placeholder="06/2016" name="expiry" type="text" id="card-expiry">
                        </div>
                        <div class="field">
                          <label>CVC Code</label>
                          <input placeholder="123" name="cvc" type="text" id="card-cvc">
                        </div>
											</div>
                                            <!--
											<div class="field">
												<label>Billing Address</label>
												<input placeholder="115 N. Charles Street" name="address" type="text" id="card-address">
											</div>-->
											<div class="field">
												<label>Billing ZIP Code</label>
												<input placeholder="12345" name="zip" type="text" id="card-zip">
											</div>
                                            <!--
											<div class="field">
												<label>Test Total</label>
												<input placeholder="0.00" name="fake_total" type="text" id="fake_total">
											</div>-->
											<div class="field">
												<input type="checkbox" name="save_card" id="save-card" style="vertical-align: middle;margin-right: 5px;">
												<label style="display:inline;vertical-align:middle;"> Save my card for future orders </label> 
											</div>
                    </div>
                  </div>
                  <div class="column">
                    <div class="card-wrapper">
                    </div>
                  </div>
                </div>


               <div class="ui  divider"></div>
            <div class="ui error message"></div>
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <input type="hidden" name="_type" value="virtual" id="is-virtual">
            <input type="hidden" name="_savedIndex" value="" id="card-index">

<!----------------------------------------------------------------------------->
<!----------------------------------------------------------------------------->

    <table class="spaced-table" style="width: 100%; margin-bottom: 30px">
      <tr>
        <td style="width: 50px"><span style="font-size: 3em">6</span></td>
        <td>
          <div class="ui inverted segment" style="background-color: #822421!important;">
            <h2 class="ui inverted header"  style="font-family: 'Montserrat'; border-right: 2px solid #fff">
              You're ready to submit your order
            </h2>
          </div>
        </td>
      </tr>
    </table>
    <center><a id="submit-button" href="javascript:;" class="ui huge blue button simpleCart_checkout">Submit My Order!</a></center>

            </form>
           <!-- <center>
              <a id="submit-button" href="javascript:;" class="ui huge green submit button simpleCart_checkout">
                Submit My Order
              </a>
            </center>-->

<div id="report" style="min-height:100px"></div>
    <div class="ui form segment">
      <h1 class="ui small header" style="color: #822421;"> Having trouble
			with your order? </h1>
        <% if (flash && flash.err) { %>
        <div class="ui red message">
          <%= flash.err %>
        </div>
      <% } %>
      <% if (flash && flash.success) { %>
        <div class="ui green message">
          <%= flash.success %>
        </div>
      <% } %>
      <form method="POST" action="/bug" class="ui small form segment">
        <p style="border-left: 5px solid #822421; padding-left: 10px; font-size:
				1em"> If you're
				having trouble making an order please let us know what's wrong and we'll do our best
				to fix it as soon as possible!<br> Please leave the Operating System
				and Browser fields as-is unless you know for sure that they are wrong. </p>
				<div class="two fields">
					<div class="field">
						<label>Operating System</label>
						<input style="width:100%;" name="bug-os" id="bug-os-field" type="text" value="">
					</div>
					<div class="field">
						<label>Browser</label>
						<input style="width:100%;" name="bug-browser" id="bug-browser-field" type="text" value="">
					</div>
				</div>
        <div class="field">
          <label>Message</label>
          <textarea style="height:3em;min-height:3em;max-height:3em;" name="description"></textarea>
        </div>
        <input type="submit" class="ui button" value="Send" style="background-color: #822421; color: #fff">
      </form>
    </div>
  </div>






        </div>
    </div>

</div>

<div style="height: 150px"></div>

<script type="text/javascript" src="https://api2.heartlandportico.com/SecureSubmit.v1/token/2.1/securesubmit.js"></script>
