<h1 class="menu-title"> <%= menu_name %> Print Menu </h1>
<div style="height: 25px"></div>
<% _.each(menu, function(section) { %>
    <div class="section">
        <h2 class="section-header" id="<%=section.name%>"><%= section.name %></h2>
        <% _.each(section.items, function(item) { if (item) { %>
        <div class="menu-item">
            <span class="item-name"><%= item.name %></span>
            <span class="item-price"><%= item.price %>
            <% if (section.menu === "catering") { %>
                <span class="item-serves">
                    <% if(item.minimum) { %>
                    (<%=  item.minimum%>)
                    <%} else if(item.serves) {%>
                    (<%=item.serves%>)
                    <%} else {%>
                    <%}%>
                </span>
            <% } %>
            </span>
            <% if ('description' in item) { %><div class="item-desc"><%= item.description %></div><% } %>
        </div>
        <% }})%>
    </div>
<% }) %>
