<!-- Modal Start -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Delivery Address</h4>
      </div>
      <div class="modal-body">
        <div class="ui one column grid">
          <div class="column">
            <form action="/user/addDelivery" method="POST" class="ui small fluid form segment" id="delivery-form">
              <p>Once you fill out this form, we'll save it to your account so that you can use it for future orders! </p>
              <div class="two fields">
                <div class="field">
                  <label>Delivery Contact Name</label>
                  <input placeholder="Leave blank if you are the delivery contact" name="name" type="text">
                </div>
                <div class="field">
                  <label>Delivery Contact Phone Number</label>
                  <input placeholder="Leave blank if you are the delivery contact" name="phone" type="text">
                </div>
              </div>
              <div class="two fields">
                <div class="field">
                  <label>Delivery Address</label>
                  <input placeholder="314 N. Charles St." name="address" type="text">
                </div>
                <div class="field">
                  <label>City</label>
                  <input placeholder="Baltimore" name="city" type="text">
                </div>
              </div>
              <div class="field">
                <label>Special Instructions</label>
                <textarea placeholder="Anything else that will help us deliver your order smoothly and in a timely fashion!" name="instructions"></textarea>
              </div>
              <input type="submit" class="ui blue submit button" value="Save This Location">
              <input type="hidden" name="_csrf" value="<%= _csrf %>">
              <div class="ui error message"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="ui button" data-dismiss="modal">Close Without Saving</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->

<div id="step-section">
  <div class="container">
   <div class="ui five medium steps" style="margin-top: 46px; margin-bottom: 35px;">
    <div class="ui disabled step">
      Start My Order
    </div>
    <div class="ui active step">
      When &amp; Where
    </div>
    <div class="ui disabled step">
      Food
    </div>
    <div class="ui disabled step">
      Payment
    </div>
    <div class="ui disabled step">
      Review &amp; Confirm
    </div>
  </div>
</div>
<div class="step-up-divider"></div>
</div>
<div style="height:30px" class="below-step"></div>



<div class="container">
  <div class="stackable ui middle aligned grid">
    <div class="six wide column">
  <table class="spaced-table">
    <tr>
      <td><span style="font-size: 3em">1</span></td>
      <td>
        <h2 class="ui dividing header">
         Location
         <div class="sub header">Please choose from one of your saved delivery addresses below, or add a new one!</div>
       </h2>
     </td>
   </tr>
 </table>
 </div>

<div class="ten wide column">
 <div class="ui small fluid form segment">
  <div class="ui medium divided list">
    <% _.each(session.User.savedDelivery, function(option){ %>
    <div class="item">
      <form action="/user/removeDelivery/<%= session.User.savedDelivery.indexOf(option) %>" method="POST">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" class="right floated medium ui red button" value="Delete"/>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form>
      <div class="right floated medium ui change button" index="<%= session.User.savedDelivery.indexOf(option) %>">Select</div>
      <div class="content">
        <div class="header"> <%= option.address %>,&nbsp;<%= option.city %> </div>
        <div class="description" style="margin-left:20px">
          Contact: <%= option.contactName %> | <%= option.contactPhone %>
          <% if(option.special) {%>
          <br> Instructions: <%= option.special %>
          <% } %>
        </div>
      </div>
    </div>
    <% }) %>
    <div class="item">
      <div class="content">
        <a data-toggle="modal" data-target="#myModal" class="medium ui green button">Add New Location</a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div style="height: 50px"></div>
<div class="stackable ui middle aligned grid">
  <div class="six wide column">
<table  class="spaced-table">
  <tr>
    <td><span style="font-size: 3em">2</span></td>
    <td>
      <h2 class="ui dividing header">
       Date and Time
       <div class="sub header"> Please select a time and date for your delivery. If you would like to order for more than one date, or more than once in a day, please submit <b>seperate</b> orders. </div>
     </h2>
   </td>
 </tr>
</table>
</div>
<div class="ten wide column">
<% if(flash && flash.err) { %>
<div class="ui warning message">
  <% Object.keys(flash.err).forEach(function(error) { %>
  <div class="header"><%- JSON.stringify(flash.err[error]['name']) %></div>
  <ul class="list">
    <li><%- JSON.stringify(flash.err[error]['message']) %></li>
  </ul>
  <% }) %>
</div>
<% } %>

<form action="/catering/order/delivery/save" method="POST" class="ui small fluid form segment" id="select-delivery-form">
  <div class="ui error message"></div>

  <div class="two fields form-group">
    <div class="field">
      <label>Delivery Date</label>
      <div class="ui left icon input">
        <input type='text' id='delivery-datepicker' name='date'/>
        <i class="calendar icon"></i>
      </div>
    </div>
    <div class="field">
      <label>Delivery Time</label>
      <div class="ui left icon input">
        <input type='text' id='delivery-timepicker' name='time'/>
        <i class="time icon"></i>
      </div>
    </div>
  </div>

  <input type="submit" class="fluid ui teal submit button" value="Click here to choose your food items!">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <input type="hidden" name="deliveryIndex" value="-1" id="option-index">
</div>

</form>

</div>
</div>
</div>
<div style="height: 100px"></div>