<div class="container">

<center><h1 class="ui header" style="font-size: 2.5em"> Manage <%= menu_name %> </h1><a href="/admin/menu" class="ui red labeled icon button"><i class="hand left icon"></i>Back to Edit Menus</a></center>

	<br>

	<% if (flash && flash.err) { %>
		<div class="ui red message">
			<%= flash.err %>
		</div>
	<% } %>
	<% if (flash && flash.success) { %>
		<div class="ui green message">
			<%= flash.success %>
		</div>
	<% } %>

	<br>

	  <table class='ui inverted celled table segment'>
	  		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>Name</th>
				<th>Meal</th>
				<th>Subheading</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			</thead>

			<tbody>
			<% _.each(menus, function(menu) { %>
				<tr data-id="<%= menu.id %>" data-model="menu">
          <td style="width: 5%;"><input id="item-index" value="<%= menu.index %>" name="<%= menu.index %>" type="text" class="form-control" style="padding-left:4px;padding-right:0px;"></td>
					<td><%= menu.name %></td>
					<td><% if (menu.breakfast) { %> Breakfast <% } else { %> Lunch <% } %></td>
					<td><% if (menu.subhead) { %><%= menu.subhead %><% } else { %>None<% } %></td>
					<td><a href="/menu/edit/<%= menu.id %>" class="btn btn-sm btn-warning">Edit</a></td>
					<td><form action="/menu/destroy/<%= menu.id %>" method="POST">
						<input type="hidden" name="_method" value="delete"/>
						<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
						<input type="hidden" name="_csrf" value="<%= _csrf %>" />
					</form></td>
				</tr>
	  	<% }) %>
	  	</tbody>
		</table>
		<% if (menus.length < 1) { %>
		<center><h3>Looks like there aren't any menus here yet!</h3></center>
		<div style="height:50px"></div>
		<% } %>
		<center>
      <div id="reorder-section-button" class="ui medium blue button">Save New Order</div>
		  <a href="/menu/new?menu=<%= menu_type %>" class="btn btn-lg btn-success">Add New <%= menu_name %> Section</a>
		</center>
</div>

<br>
<br>
