<div class="container">
  <center><h1 class="ui header" style="font-size: 2.5em"> Edit <%= menu.name %> (<%= menu.menu.charAt(0).toUpperCase() + menu.menu.slice(1) %>)</h1><a href="/admin/<%= menu.menu %>" class="ui red labeled icon button"><i class="hand left icon"></i>Back to <%= menu.menu.charAt(0).toUpperCase() + menu.menu.slice(1) %> Menu</a></center>

  <br>

	<% if (flash && flash.err) { %>
		<div class="ui red message">
			<%= flash.err %>
		</div>
	<% } %>
	<% if (flash && flash.success) { %>
		<div class="ui green message">
			<%= flash.success %>
		</div>
	<% } %>

  <h3> Edit This Menu's Subheading </h3>
  <form action="/menu/update/<%= menu.id %>?index=details" method="POST" class="ui large fluid form segment" id="edit-form">
	<div class="field">
    <label>Subheading</label>
      <textarea name="subhead" style="height: 50px"><%= menu.subhead %></textarea>
    </div>
	<input type="submit" value="SAVE" class="btn btn-md btn-primary btn-block"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
  </form>

  <br>

  <div>
    <h3> Edit Individual Items </h3>
  </div>

  <br>

  <div>
	  <table class='ui inverted celled table segment'>
		  <tr>
                <th>Index</th>
				<th>Name</th>
				<th>Price</th>
				<th>Units</th>
				<th>Min/Serves</th>
				<th>Description</th>
				<th></th>
				<th></th>
		  </tr>

			<% _.each(menu.items, function(item) { if (item) { %>
				<tr data-id="<%= item.id %>" data-model="item">
                    <td style="width: 5%;"><input id="item-index" value="<%= menu.items.indexOf(item) %>" name="<%= menu.items.indexOf(item) %>" type="text" class="form-control"></td>
					<td><%= item.name %></td>
					<td><%= item.price %></td>
					<td><% if (item.priceSuffix) { %><%= item.priceSuffix %><% } else { %>each<% } %></td>
					<td>
						<% if (item.minimum) { %>
							<%= item.minimum %>
						<% } else if (item.serves) { %>
							<%= item.serves %>
						<% } else { %>
							empty
						<% } %>
					</td>
					<td><%= item.description %></td>
					<td><a href="/menu/edit/<%= menu.id %>?index=<%= menu['items'].indexOf(item)%>" class="btn btn-sm btn-warning">Edit</a></td>
					<td><form action="/menu/destroy/<%= menu.id %>?index=<%= menu['items'].indexOf(item)%>" method="POST">
						<input type="hidden" name="_method" value="delete"/>
						<input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
						<input type="hidden" name="_csrf" value="<%= _csrf %>" />
					</form></td>
				</tr>
        
			<% }}) %>
		</table>
        <center>
            <div id="reorder-button" class="ui medium blue button">Save New Order</div>
            <a href="/menu/new_item/<%= menu.id %>" class="ui medium green button">Add New Item</a>
        </center>
        <br>
        <br>
	</div>
</div>
