<div class="ui page grid">
<div class="column">
      <center><h1 class="ui header" style="font-size: 2.5em"> Create New Item </h1><a href="/menu/edit/<%= menu_id %>" class="ui red labeled icon button"><i class="hand left icon"></i>Back to Section (Without Saving)</a></center>

      <% if (flash && flash.err) { %>
        <div class="ui red message">
          <%= flash.err %>
        </div>
      <% } %>
      <% if (flash && flash.success) { %>
        <div class="ui green message">
          <%= flash.success %>
        </div>
      <% } %>

      <form action="/menu/create_item/<%= menu_id %>" method="POST" class="ui large inverted form segment" id="create-item-form">
        <p>The placeholders are simply examples to make it clear what is expected in each input!</p>
        <div class="three fields">
          <div class="field">
            <label>Item Name</label>
            <input placeholder="Cold Cut Sub" name="name" type="text" class="form-control">
          </div>
          <div class="field">
            <label>Minimum (can leave blank) </label>
            <input  placeholder="Minimum 8" name="minimum" type="text" class="form-control">
          </div>
          <div class="field">
            <label>Serves (can leave blank) </label>
            <input  placeholder="Serves 10 to 15" name="serves" type="text" class="form-control">
          </div>
        </div>
        <div class="two fields">
        <div class="field">
            <label>Price</label>
            <input  placeholder="$10.99" name="price" type="text" class="form-control">
          </div>
          <div class="field">
            <label>Pricing Unit</label>
            <input  placeholder="e.g. per person, each"name="priceSuffix" type="text" class="form-control">
          </div>
        </div>
        <div class="field">
            <label>Item Description</label>
            <textarea placeholder="Served on a wheat sub roll, with turkey, ham, lettuce, tomato, and swiss." name="description"></textarea>
          </div>
        <input type="submit" value="CREATE" class="btn btn-lg btn-primary btn-block"/>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
      </form>
    </div>
  </div>

</div>