<div id="step-section">
  <div class="container">
   <div class="ui five medium steps" style="margin-top: 46px; margin-bottom: 35px;">
      <div class="ui disabled step">
        Start My Order
      </div>
      <div class="ui disabled step">
        When &amp; Where
      </div>
      <div class="ui disabled step">
        Food
      </div>
      <div class="ui disabled step">
        Payment
      </div>
      <div class="ui active step">
        Review &amp; Confirm
      </div>
    </div>
  </div>
  <div class="step-up-divider"></div>
</div>
<div style="height:30px" class="below-step"></div>
<div class="container" style="margin-top:30px">


<center> Please review your order information below, then click "submit my order". <br><b>We will confirm all orders via E-Mail or telephone. Please do not consider your order final until we have confirmed it!</b></center>

<div class="ui fluid form segment">
  <div class="ui celled grid">
  <div class="six wide column">
    <div class="ui vertically divided grid">
      <div class="row">
        <div class="column">
        <h3> Order Contact </h3>
        <b>Name</b>:&nbsp;<%= session.User.name %><br>
        <b>Company</b>:&nbsp;<%= session.User.companyName %><br>
        <b>Phone</b>:&nbsp;<%= session.User.phone %><br>
        <b>E-Mail</b>:&nbsp;<%= session.User.email %>
        </div>
      </div>

      <div class="row">
        <div class="column">
        <h3> Delivery Contact </h3>
        <b>Name</b>:&nbsp;<%= session.delivery.contactName %><br>
        <b>Phone</b>:&nbsp;<%= session.delivery.contactPhone %>
        </div>
      </div>

      <div class="row">
        <div class="column">
        <h3> Delivery Information </h3>
        <b>Date</b>:&nbsp;<%= session.delivery.date %><br>
        <b>Time</b>:&nbsp;<%= session.delivery.time %><br>
        <b>Address</b>:&nbsp;<%= session.delivery.address %>,&nbsp;<%= session.delivery.city %><br>
        <b>Instructions</b>:&nbsp;<%= session.delivery.special %>
        </div>
      </div>

      <div class="row">
        <div class="column">
        <h3> Payment Method </h3>
          <% if(session.paymentMethod == 'cash') { %>
            <b>Method</b>:&nbsp; Pay at Delivery
            <p class="warning-border" style="margin-top: 5px; font-size: 0.9em">We will pick up payment at time of delivery.</p>
          <% } else if(session.paymentMethod == 'invoice') { %>
            <b>Method</b>:&nbsp; Invoice
            <p class="warning-border" style="margin-top: 5px; font-size: 0.9em">An invoice will be left with your order. </p>
          <% } else { %>
            <b>Method</b>:&nbsp; Pay Now (Credit Card) <br>
            <b>Card Number</b>:&nbsp;  XXXXXXXXXXXX<%= session.card.cardNumber.substring(session.card.cardNumber.length-4) %><br>
            <b>Card Holder</b>:&nbsp; <%= session.card.cardName %>
            <p class="warning-border" style="margin-top: 5px; font-size: 0.9em">Remember, clicking "submit" below will <b>not </b> charge your credit card. We will only charge your card once we have peresonally confirmed the order with you.</p>
          <% } %>

        <br>
        </div>
      </div>
    </div>
  </div>
  <div class="ten wide column">
  <h3> Summary </h3>
  <p class="warning-border" style="font-size: 0.8em"> If you would like to make any last minute changes to your order, you can use the <i class="minus sign icon"></i> and <i class="add sign icon"></i> buttons to change an items quantity, or the <i class="medium trash icon"></i> button to delete an item. Your grand total will update respectively. Once everything looks good, submit! </p>
  <center><div class="simpleCart_items"></div></center>
  <div class="ui divider"></div>
  <center style="font-size: 1.3em;">
    <table id="summary-table">
      <tr>
        <td class="left-td">Sub-Total:</td>
        <td class="right-td"><span class="simpleCart_total"></span></td>
      </tr>
      <tr>
        <td class="left-td">Tax (6%):</td>
        <td class="right-td"><div class="simpleCart_tax"></div></td>
      </tr>
      <tr>
        <td class="left-td">Estimated Delivery Fee*:</td>
        <td class="right-td"><span class="simpleCart_shipping"></span></td>
      </tr>
    </table>
    </center>
    <p class="warning-border" style="font-size: 1.0em"> * Actual delivery fee will range from $12 to $32 based on distance. </p>
    <div class="ui divider"></div>

    <center style="font-size: 1.5em"><b>Estimated Total:</b>&nbsp;<span class="simpleCart_grandTotal"></span></center>
    <center style="margin-top: 10px">
      <a id="submit-button" href="javascript:;" class="large ui green submit button simpleCart_checkout">SUBMIT MY ORDER</a>
    </center>
  </div>
  </div>
</div>


<!--
<form action="/catering/order/submit" method="POST" class="ui warning fluid form segment">
  <input type="submit" class="fluid ui green submit button" value="CONFIRM" id="confirm-checkout">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <div class="ui error message"></div>
</form>-->
</div>