<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Your Order</h4>
      </div>
      <div class="modal-body">
        <center><div class="simpleCart_items"></div></center>
        <div class="ui divider"></div>
        <center><b>Grand Total: </b>&nbsp;<span class="simpleCart_total"></span></center>
      </div>
      <div class="modal-footer">
        <a class="ui button" data-dismiss="modal">Close</a>
        <a class="ui green button" href="/catering/delivery/select">Checkout</a>
      </div>
    </div>
  </div>
</div>
<div class="ui five medium steps">
  <div class="ui disabled step">
    Create Account
  </div>
  <div class="ui active step">
    Choose Items
  </div>
  <div class="ui disabled step">
    Add Delivery Info
  </div>
  <div class="ui disabled step">
    Add Payment Info
  </div>
  <div class="ui disabled step">
    Review &amp; Confirm
  </div>
</div>

<h1 class="title"> Catering Menu </h1>

<div class="ui grid">
  <div class="four wide column">
 
    <div class="ui vertical menu sticky-sidebar">
      <div class="header item">
        <i class="coffee icon"></i>
        Breakfast
      </div>
      <% _.each(menu, function(section) { %>
        <% if(section.breakfast) { %><a class="orange item" href="#<%= section.name%>"><%= section.name %></a><% } %>
      <% }) %>
      <div class="header item">
        <i class="food icon"></i>
        Lunch
      </div>
      <% _.each(menu, function(section) {%>
        <% if(!section.breakfast) { %><a class="orange item" href="#<%= section.name%>"><%= section.name %></a><%}%>
      <% }) %>
      <div class="header item">
        <i class="cart icon"></i>
        Your Order
      </div>
      <a class="orange item">Total: <span class="simpleCart_total"></span> (<span class="simpleCart_quantity"></span>&nbsp;items)</a>
      <a class="orange item" data-toggle="modal" data-target="#myModal">View Order</a>
      <a href="javascript:;" class="simpleCart_empty orange item">Start Over</a>
      <a href="/catering/delivery/select" class="orange item">Checkout</a>
    </div>
  </div>
  <div class="twelve wide column">
    <% _.each(menu, function(section) { %>
    <h2 class="ui dividing header" id="<%=section.name%>"><%= section.name %></h2>
    <p> <%= section.subhead %> </p>
      <% _.each(section.items, function(item) {%>
        <div class="simpleCart_shelfItem ui segment">

          <b class="item_name"><%= item.name %></b>
          <input type="hidden" value="1" class="item_Quantity">
          <div class="item_add mini ui labeled icon button floated right"><i class="add icon"></i>
             <span class="item_price"><%= item.price %></span>&nbsp;<%= item.priceSuffix ? item.priceSuffix : "each"%>
          </div>
     
          <h5><% if(item.minimum) { %><%=  item.minimum%><%} else if(item.serves) {%><%=item.serves%><%} else {%><%}%> </h5>
          
          <p> <%= item.description %></p>
        </div>    
      <% })%>
    <% }) %>
  </div>
</div>