<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Order Summary</h4>
      </div>
      <div class="modal-body">
        <div id="order-summary-contents">
          <center>
          It looks like you haven't added any items to your order yet!<br>
          Make sure you pressed the <b>"Add"</b> button next to each item <b>after</b> entering in the quantity.<br>
          After you add an item, you should see your <b>total</b> increase in the top left hand corner of the menu.
          </center>
        </div>
      </div>
      <div class="modal-footer">
        <a class="ui button" data-dismiss="modal">Close</a>
        <a class="ui green button" href="/catering/order/payment">Checkout</a>
      </div>
    </div>
  </div>
</div>

<div id="step-section">
  <div class="container">
   <div class="ui five medium steps" style="margin-top: 46px; margin-bottom: 35px;">
    <div class="ui disabled step">
      Start My Order
    </div>
    <div class="ui disabled step">
      When &amp; Where
    </div>
    <div class="ui active step">
      Food
    </div>
    <div class="ui disabled step">
      Payment
    </div>
    <div class="ui disabled step">
      Review &amp; Confirm
    </div>
  </div>
</div>
<div class="step-up-divider"></div>
</div>
<div style="height:30px" class="below-step"></div>


<div class="ui page grid">
  <div class="sixteen wide column">
    <div class="ui borderless fluid menu sticky-topbar" style="padding: 4px">
     <div class="right item">
      <a href="javascript:;" class="simpleCart_empty ui red button" id="start-over">Start Over</a>
    </div>
    <div class="right item">
      <a data-toggle="modal" data-target="#myModal" class="ui green button">Order Summary</a>
    </div>
    <div class="right item">
      <a href="/catering/order/payment" class="ui teal button">Checkout</a>
    </div>
    <div class="item">
      <i class="cart icon"></i><b>Current Total: </b><span class="simpleCart_total"></span>
      <div class="ui red label">Excluding Tax and Delivery Fee</div>
    </div>
  </div>
</div>
<div class="four wide column">

  <div class="ui vertical menu sticky-leftbar">
    <div class="header item">
      <i class="coffee icon"></i>
      Breakfast
    </div>
    <% _.each(menu, function(section) { %>
    <% if(section.breakfast) { %><a class="orange item" href="#<%= section.name%>"><%= section.name %></a><% } %>
    <% }) %>
    <div class="header item">
      <i class="food icon"></i>
      Lunch
    </div>
    <% _.each(menu, function(section) {%>
    <% if(!section.breakfast) { %><a class="orange item" href="#<%= section.name%>"><%= section.name %></a><%}%>
    <% }) %>
  </div>
</div>
<div class="twelve wide column">
  <p class="warning-border" style="margin-top: 5px;"><b>Instructions:</b> For each item you would like to order, type the quantity in the box to the right, then click "Add." If you accidentally enter the wrong quantity, or click "Add" more than once, you can click on "Order Summary," to change it.</p>
  <% _.each(menu, function(section) { %>
  <h2 class="ui dividing header" id="<%=section.name%>"><%= section.name %></h2>
  <p> <%= section.subhead %> </p>
  <% _.each(section.items, function(item) {%>
  <div class="simpleCart_shelfItem ui segment">

    <b class="item_name"><%= item.name %></b>

    <div id="quantity-box" class="mini ui icon input">
      <input type="text" placeholder="Quantity" class="item_Quantity">
      <i class="item_add inverted icon">Add</i>
    </div>

    <h5><% if(item.minimum) { %><%=  item.minimum%><%} else if(item.serves) {%><%=item.serves%><%} else {%><%}%> | <span class="item_price"><%= item.price %></span>&nbsp;<%= item.priceSuffix ? item.priceSuffix : "each"%> </h5>

    <p> <%= item.description %></p>
  </div>
  <% })%>
  <% }) %>
</div>
</div>
</div>