<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Order Summary</h4>
      </div>
      <div class="modal-body">
        <div id="order-summary-contents">
          <center>
          It looks like you haven't added any items to your order yet!<br><br>
          Make sure to click the <b>"Set"</b> button next to each item <b>after</b> entering in the quantity.<br>
          Once you add an item, you should see your <b>current total</b> increase in the top left hand corner of the menu.
          </center>
        </div>
      </div>
      <div class="modal-footer">
        <a class="ui button" data-dismiss="modal">Go Back To Order Form</a>
        <a class="ui green button" id="checkout-button">Checkout</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cartEmptyModal" tabindex="-1" role="dialog" aria-labelledby="cartEmptyLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="cartEmptyLabel">Your cart is empty!</h4>
      </div>
      <div class="modal-body">
        <div id="order-summary-contents">
          <center>
          You haven't added any items to your order yet!<br><br>
          Make sure to click the <b>"Set"</b> button next to each item <b>after</b> entering or changing the quantity.<br>
          Once you add an item, you should see your <b>current total</b> increase in the top left hand corner of the menu.<br>
          You can view the current status of yoru order at any time by clicking "Order Summary" on the top bar.
          </center>
        </div>
      </div>
      <div class="modal-footer">
        <a class="ui button" data-dismiss="modal">Go Back To Order Form</a>
      </div>
    </div>
  </div>
</div>


<!-- Step Start -->
<div id="step-section" style="border-bottom: 7px solid #352504;">
  <div style="height: 55px;"></div>
  <div class="container">
   <div class="removable ui five medium steps" style="margin-top: 46px; margin-bottom: 35px;">
    <div class="ui disabled step">
      <i class="ui large icon check" style="color:#5BBD72; margin-top:-10px;"></i>
      Start My Order
    </div>
    <div class="ui disabled step">
      <% if(session.delivery) { %> <i class="ui large icon check" style="color:#5BBD72; margin-top:-10px;"></i> <% } %>
      <a style="text-decoration: none; color: #ccc" href="/catering/order/delivery">Delivery</a>
    </div>
    <div class="ui active step">
      <% if(session.foodComplete) { %> <i class="ui large icon check" style="color:#5BBD72; margin-top:-10px;"></i> <% } %>
      <a style="text-decoration: none; color: #ccc" href="/catering/order/menu">Food</a>
    </div>
    <div class="ui disabled step">
      <% if(session.paymentMethod && ((session.paymentMethod == 'Credit' && session.card) || (session.paymentMethod != 'Credit'))) { %> <i class="ui large icon check" style="color:#5BBD72; margin-top:-10px;"></i> <% } %>
      <a style="text-decoration: none; color: #ccc" href="/catering/order/payment">Payment</a>
    </div>
    <div class="ui disabled step">
       <a style="text-decoration: none; color: #ccc" href="/catering/order/review">Review</a>
    </div>
  </div>
  <div style="height: 10px;"></div>
  </div>
</div>
<!-- Step End -->

<div class="ui page grid" style="border-top: 7px solid #822421;">
  <div class="sixteen wide column">
    <div class="ui borderless fluid menu sticky-topbar" style="padding: 4px; background-color: #352504;">
     <div class="removable-button right item">
      <a href="javascript:;" class="simpleCart_empty ui red button" id="start-over">Start Over</a>
    </div>
    <div class="removable-button right item">
      <a data-toggle="modal" data-target="#myModal" class="ui green button">Order Summary</a>
    </div>
    <div class="removable-button right item">
      <a id="checkout-button" class="ui teal button">Checkout</a>
    </div>
    <div class="replacement-button item"><a href="javascript:;" class="simpleCart_empty ui red button" id="start-over">Start Over</a><a data-toggle="modal" data-target="#myModal" class="ui green button">Order Summary</a><a id="checkout-button" class="ui teal button">Checkout</a></div>
    <div class="item"  style="color: #fff;">
      <i class="white cart icon"></i><b>Current Total: </b><span class="simpleCart_total"></span>
      <div class="removable-button ui red label">Excluding Tax and Delivery Fee</div>
    </div>
  </div>
</div>
<div class="four wide column">

  <div class="removable ui vertical menu sticky-leftbar" style="background-color: #352504; color: #fff;">
    <div class="header item" style="color: #fff;">
      <i class="coffee icon"></i>
      Breakfast
    </div>
    <% _.each(menu, function(section) { %>
    <% if(section.breakfast) { %><a class="item" style="color: #fff;" href="#<%= section.name%>"><%= section.name %></a><% } %>
    <% }) %>
    <div class="header item" style="color: #fff;">
      <i class="food icon"></i>
      Lunch
    </div>
    <% _.each(menu, function(section) {%>
    <% if(!section.breakfast) { %><a class="item" style="color: #fff;" href="#<%= section.name%>"><%= section.name %></a><%}%>
    <% }) %>
  </div>
</div>
<div class="twelve wide column">
  <p class="warning-border" style="margin-top: 5px;"><b>Instructions:</b> Navigate the menu quickly and easily using the sidebar on the left (clicking on a section just scrolls for you). For each item you would like to order, type the quantity in the box to the right, then click "Set." You can change the quantity at any time by typing a different number in the box and then clicking "Set" again. A green check will appear once the items have been saved to your order. <br> Please specify any special requests or changes in the box below:</p>
  <form class="ui form segment">
  <div class="field">
          <label>Special Requests</label>
          <textarea id="special-request" name="description"><% if (session.User.specialRequest) { %><%= session.User.specialRequest%><% } %></textarea>
          <input id="csrf" type="hidden" name="_csrf" value="<%= _csrf %>">
        </div>
  </form>
  <% _.each(menu, function(section) { %>
  <h2 class="ui dividing header" id="<%=section.name%>"><%= section.name %></h2>
  <p> <%= section.subhead %> </p>
  <% _.each(section.items, function(item) {%>
  <div class="simpleCart_shelfItem ui segment">

    <b class="item_name"><%= item.name %></b>

    <div id="quantity-box" class="mini ui icon input">
      <input type="text" placeholder="Quantity" class="item_Quantity">
      <i class="item_add inverted icon">Set</i>
    </div>

    <h5><% if(item.minimum) { %><%=  item.minimum%><%} else if(item.serves) {%><%=item.serves%><%} else {%><%}%> | <span class="item_price"><%= item.price %></span>&nbsp;<%= item.priceSuffix ? item.priceSuffix : "each"%> </h5>

    <p> <%= item.description %></p>
  </div>
  <% })%>
  <% }) %>
</div>
</div>
</div>